body
{
background-color:black;
}

a:link
{
color: orange;
text-decoration: none;
}

a:hover
{
text-decoration: underline;
}

a:visited
{
color:orange;
}

b.title
{
font-size:19;
}

ul
{
list-style-image:url('bullet.gif')
}

ul.photogallerylist
{
list-style-image:url('photogalleryicon.png')
}

ul.jslist
{
list-style-image:url('jsicon.png')
}

table.galleryindex
{
border-style:groove;
}

.border
{
border-style:groove;
}

div.scrolling
{
overflow:scroll;
border:groove;
}